<!-- app/templates/admin/departments/departments.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Gerenciar Noticias{% endblock %}
{% block body %}
<div class="container">
  <div class="center">
    <div>
      <div >
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Gerenciar Noticias</h1>
        {% if noticias %}
          <hr class="intro-divider">
          <div class=>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Titulo </th>
                  <th width="40%"> Imagem </th>
                  <th width="15%"> Editar </th>
                  <th width="15%"> Apagar </th>
                </tr>
              </thead>
              <tbody>
              {% for noticia in noticias %}
                <tr>
                  <td> {{ noticia.titulo }} </td>
                  <td> {{ noticia.caminho_imagem }} </td>
                  <td>
                    <a href="{{ url_for('admin.editar_noticia', id=noticia.id) }}">
                      <i class="fa fa-pencil"></i> Editar 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.deletar_noticia', id=noticia.id) }}">
                      <i class="fa fa-trash"></i> Apagar 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Nenhuma noticia. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_noticias') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Adicionar noticia
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}